[submodule "cmake/cmake-tools"]
	path = cmake/cmake-tools
	url = supaserver.local:git/cmake-tools.git
[submodule "share/doc/quickbook"]
	path = share/doc/quickbook
	url = supaserver.local:git/quickbook.git
